@font-face {
    font-family: 'pulsa';
    src:    url('fonts/pulsa.eot?2hegfx');
    src:    url('fonts/pulsa.eot?2hegfx#iefix') format('embedded-opentype'),
        url('fonts/pulsa.ttf?2hegfx') format('truetype'),
        url('fonts/pulsa.woff?2hegfx') format('woff'),
        url('fonts/pulsa.svg?2hegfx#pulsa') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pulsa' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-estrella:before {
    content: "\e900";
}
.icon-f_arriba:before {
    content: "\e901";
}
.icon-f_abajo:before {
    content: "\e902";
}
.icon-lapiz:before {
    content: "\e903";
}

